
.header {
    background: #fff !important;
    border-bottom: 1px solid #999;
    height: 10vh;
}
.content {
    min-height: 80vh !important;
}

.footer {
    text-align: center;
    border-top: 1px solid #999;
    min-height: 10vh;
}